
.pagination {
    margin: 15px auto;
    display: flex;
    list-style: none;
    outline: none;
    justify-content: center;
  }
  .pagination > .active > a{
    background-color: black ;
    border-color: black ;
    color: white;    
  }
  .pagination > li > a{
    border: 1px solid #bcbcbc ;
    padding: 5px 10px;
    outline: none;
    cursor: pointer;   
    background: white; 
  }
  .pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus{
    background-color: black ;
    border-color: black;
    outline: none ;
  }
  .pagination > li > a, .pagination > li > span{
    color: black; 
  }
  .pagination > li:first-child > a, .pagination > li:first-child > span, .pagination > li:last-child > a, .pagination > li:last-child > span{
    border-radius: unset
  }
  ul.pagination li {
    margin: 0;
    border: none;
  }
@media only screen and (max-width: 800px) {
  .pagination > li > a {
    padding:5px;
  }
}  
