* {
  box-sizing: border-box;
}
::selection {
  color: #000000;
  background: #7ec567;
}
body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  background-image: url("./assets/popcorn.jpg");
  background-position: bottom;
  min-height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #f6f7f1;
}
.App h1,
.App h2,
.App h3 {
  text-align: center;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}
.column {
  float: left;
  width: calc(50% - 20px);
  padding: 30px;
  text-align: left;
  min-height: 150px;
  border: 1px solid #d9d9d9;
  margin: 10px;
  border-radius: 5px;
}
.result.nomination {
  background: #f2f2f2;
  margin: 10px;
}
form {
  width: 100%;
  max-width: 600px;
  margin: auto;
  padding: 10px;
  background: #f2f2f2;
}
input[type="text"] {
  margin: 1%;
  width: 68%;
  padding: 10px;
}
input[type="submit"] {
  width: 28%;
  margin: 1%;
  padding: 10px;
}
label {
  width: 98%;
  display: inline-block;
  text-align: left;
  margin: 1%;
}
.movie-img {
  width: 143px;
  height: 250px;
  justify-content: center;
  align-items: center;
  display: flex;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #f2f2f2;
  border: 5px solid white;
  box-shadow: 0px 16px 18px -7px #808181;
}
p.movie-dscr {
  max-width: 70%;
  text-align: center;
}
button {
  padding: 15px 20px;
  margin-left: 10px;
  background-color: #f2f2f2;
  border: 1px solid #d7d7d7;
  border-radius: 50px;
  box-shadow: 0px 10px 14px -7px #808181;
  cursor: pointer;
}
ul {
  padding: 0;
}
li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
  padding: 0 0 10px 0;
  border-bottom: 1px #bcbcbc dashed;
}
li:last-child {
  border-bottom: none;
}

.five.nominates {
  background: #7ec567;
  color: white;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: #747373 1px solid;
  margin-bottom: 40px;
}
/* .drrr:not(:empty)::before {
    content: "Nominations";
    width: 100%;
    line-height: 50px;
    height: 50px;
    text-align: center;
    margin-bottom: 10px;
    background-color: #7ec567;
} */
@media only screen and (max-width: 1400px) {
  .movie-img {
    width: 143px;
    height: 200px;
  }
  p.movie-dscr {
    max-width: 40%;
    text-align: center;
  }
  h3 {
    font-size: 1em;
    padding: 5px;
  }
}
@media only screen and (max-width: 800px) {
  .column {
    width: calc(100% - 20px);
    padding: 20px;
  }
  .result.nomination {
    margin: 10px 0;
    display: flex;
    flex-direction: column-reverse;
  }
}
@media only screen and (max-width: 460px) {
  .column {
    width: calc(100% - 0px);
    padding: 10px;
  }
  li {
    flex-direction: column;
  }
  p.movie-dscr {
    max-width: 80%;
    text-align: center;
  }
  .column .result {
    order: 2;
  }
  .column .nomination {
    order: 1;
  }
}
